
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inder&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px 0px;
    padding: auto;
}
/* shared styles */
.fira-sans-regular {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
  }
.bgc-one{
    background-color: #C6E4D6;
}
.color{
    color: #0e0e0eb0;;
}

/* nav styles */

.navbar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: 20px 140px ;
}
.Bangladesh{
    font-size: 32px;
    font-weight: bold;
}
.sign-in{
    color: #006A50;
    border: 2px solid #006A50 ;
    font-size: 18px;
    font-weight: bold;
    padding: 15px 30px;
    border-radius: 8px;
}
/* div-one styles */
.div-one{
    display: flex;
    margin:20px 140px;
    border-radius: 24px;
    
}
.one-left{
    width: 50%;
    padding-left: 60px;
}

.bd-2{
   font-size: 24px;
   font-weight: 600;
   color: #0e0e0e88;
   margin-top: 115px;
   margin-bottom: 16px; 
}
.dis-one-des{
    font-size: 56px;
    font-weight: bold;
}
.explore-btn{
    font-size: 18px ;
    font-weight: bold;
    border-radius: 8px;
    padding: 17px 34px;
    color: white;
    background-color: #006A50;
    border: none;
    margin-top: 24px ;
}

.img-one{
    padding: 80px 65px;
}

/* div-two styles */
.two{
    margin: 80px 140px;
}
.div-two {
    display: flex;
    justify-content: space-between;
   
    
}
.div-two-h1{
    font-size: 40px; 
    margin-bottom: 32px; 
}
.div-two-content{
    border: 1px solid rgb(197, 197, 197);
    border-radius: 10px;
    margin-right: 20px;
    padding: 24px;
    background-color: white;
}
.subhead{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0edc;
    margin-bottom: 12px;
    margin-top: 24px;
}
.description-2{
    font-size: 16px;
    color: #0e0e0eb0;
    word-spacing: 0px;
    line-height: 1.5;
}

/* div-three */
.three{
    margin:80px 140px 32px 140px;
}
.div-three-h1{
    font-size: 40px;
}
.div-three-p{
    font-size: 16px;
    color: #0e0e0eb0;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 1.5;
}

.div-three{
    display: flex;
    justify-content: space-between;
}
.div-three-content-1{
    border-radius: 10px;
    margin-right: 20px;
    padding: 32px;
    background-color: #548ff54e;   
}
.div-three-content-2{
    border-radius: 10px;
    margin-right: 20px;
    padding: 32px;
    background-color: #09a15d54;  
}
.div-three-content-3{
    border-radius: 10px;
    padding: 32px;
    background-color: #ffc43948;  
}

.subhead-3{
    font-size: 20px;
    font-weight: bold;
    color: #0e0e0edc;
    margin-bottom: 12px;
    margin-top: 24px;
}
.description-3{
    font-size: 16px;
    color: #0e0e0eb0;
    word-spacing: 0px;
    line-height: 1.5; 
}

.learn-more-btn-1{
    font-size: 18px ;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    background-color: #5490F5;
    border: none;
    margin-top: 24px; 
     
}
.learn-more-btn-2{
    font-size: 18px ;
    border-radius: 8px;
    font-weight: 600;
    padding: 11px 20px;
    color: white;
    background-color: #09A15C;
    border: none;
    margin-top: 24px; 
     
}
.learn-more-btn-3{
    font-size: 18px ;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    background-color: #FFC239;
    border: none;
    margin-top: 24px; 
     
}
/* div-four */
.div-four{
    margin: 25px 140px  32px 140px;
    border: 1px solid rgba(0, 0, 0, 0.166);
    border-radius: 10px;
    padding: 48px 15px;
    background-color: white;
}
.quote, .title{
    font-size: 16px;
    color: #0e0e0eb0;
    line-height: 1.5;
}
.quote-from{
    font-size: 20px;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.8);
    margin-top: 12px;
    margin-bottom: 5px;
}
/* div-five */
/* div-six */
.six{
    margin:100px 140px;
    
}
.left-image{
    display: flex;
    justify-content: center;
    padding: 48px;
    background-color: white;
    border-radius: 20px;
}

.div-six-h1{
    font-size: 40px;
}
.news-description{
    font-size: 16px;
    color: #0e0e0eb0;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 1.5;
}
.satelite{
    border-radius: 20px;
}
.news{
    margin-left: 32px;
}
.news-heading{
    font-size: 32px;
    color: rgba(0, 0, 0, 0.802);
}
.news-channel{
    padding: 12px 0px;
}
.time-date{
    font-size: 16px;
    color: #0e0e0eb0;
}
.aljajera-news{
    font-size: 16px;
    color: #0e0e0eb0;
    padding: 12px 0px;
    line-height: 1.5;
}
.read-more-btn{
    font-size: 18px ;
    font-weight: 600;
    border-radius: 8px;
    padding: 11px 20px;
    color: white;
    background-color: #09A15C;
    border: none;
    margin-top: 32px; 
}

.right-image{
    display: flex;
    justify-content: center;
    padding: 48px;
    background-color: white;
    border-radius: 20px;
    margin-top: 24px;
}
